* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(24, 19, 37);
    color: rgb(238, 227, 227);
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(31, 31, 71);

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    text-decoration: none;
    color: aquamarine;
    font-size: 1.2rem;


}

main hr {
    border: 0%;
    color: rgb(74, 86, 86);
    background: blue;
    margin: 56px 70px;
}

.left {
    font-size: 20px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 70px 0;
    color: rgb(207, 211, 203);

}

.firstSection>div {
    width: 30%;

}
.leftSection p{
    font-size: 20px;
    margin: 15px,0;
    padding: 15px 0;
}

.leftSection {
    width: 50%;
    height: 40;
    font-size: 3rem;
    margin: 70px 0;
}
.leftSection .buttons{
    padding: 50px 0;
}

.leftSection .btn{
    padding: 12px;
    background-color: rgba(77, 93, 113, 0.324);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.leftSection .btn:hover{
    color: aquamarine;
    text-decoration: none;
    font-size: 1.2rem;

}

.rightSection {
    width: 50%;
    height: 40;
}

.rightSection img {
    width: 80%;
    margin: 50px 0;
    background-color: rgb(250, 233, 215);
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.purple {
    color: rgb(29, 134, 195);
}

#element {
    color: aquamarine;
}

.secondSection {
    color: rgb(149, 63, 225);
    max-width: 80%;
    margin: auto;
    height: 24rem
}

.secondSection h1 {
    font-size: 1.4rem;
    font-weight: bold;
}

.secondSection .box {
    background: rgb(245, 234, 234);
    margin: 34px 0;
    height: 2px;
    width: 60vw;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 110px;
}

.text-gray {
    color: gray;

}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 155px;
}

.vertical-desc {
    font-weight: 100;
    color: white;
    position: relative;
    top: 90px;
    width: 134px;
    font-size: 12px;
    font-style: italic;
    font-family: 'Poppins';

}

footer {
    background-color: rgb(78, 26, 78);
    
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer-first h3{
    margin: 18px 0 -14px -105px;
}

.footer li {
    list-style: none;
}
.footer >div{
    width: 223px;
}
footer .footer-left{
    color: gray;
    text-align: center;
    padding: 12px 0;
}
.footer-fsecond{
    margin: -2px -1px 3px 175px;
}

@media  screen and (max-width: 800px)  {
    
    .firstSection{
        flex-direction: column-reverse;
    }
    .leftSection{
       
       width: 100% !important;
       display: flex;
       flex-direction: column;
       justify-content:center ;
       align-items:center;
    
    }
    .rightSection {
        width:721px !important;
        display: flex;
        justify-content: center;
    }
    .rightSection img {
        width:70vw;
        margin: 9px 0 4px 593px;
    }
    .leftSection p{
        font-size: 20px;
        margin: 15px,0;
        padding: 15px 0;
        display: flex;
    }

    .vertical-title, .vertical-desc{
        left:45px;
        width: 167px;

    }
    .secondSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 130vw;
    }
    .secondSection .box{
        width: 50vw;
    }
    .box{
        flex-direction: column;
        width: 100px;
    }
    .image-top{
    top: 104px;

    }
    .footer {
        display: flex;
        padding: 37px 136px;
        justify-content: space-evenly;
    }
    
    nav{
        flex-direction: column;
    }
    body{
        min-width: fit-content;
    }
}